Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

.vs/
.idea/
*.sln
*.suo
*.opensdf
*.sdf
*.xcworkspace
*.ds_store

*.log
*.crash

Content/0_/Assets/
Content/0_/Blueprints/Enemy/Insect/Animation/
Content/0_/Blueprints/Enemy/Paladin/Animation/
Content/0_/Blueprints/Enemy/Raptor/Animation/
Content/0_/Character/Animation/
Content/0_/LinNai/
Content/AncientTreasures/
Content/AnimalVarietyPack/
Content/Collections/
Content/Dark_Knight/
Content/Developers/
Content/EchoContent/
Content/EuropeanBeech/
Content/Fab/
Content/Light_Foliage/
Content/MedCastle/
Content/MedievalDungeon/
Content/MSPresets/
Content/ParagonMinions/
Content/QBSource/
Content/Realistic_Starter_VFX_Pack_Niagara/
Content/ScreneEffect/
Content/StellarGirlCeleste/
Content/Sword_Animations/
Content/SwordTrailVFX/
Content/Zombie_01/


